.navbar {
  background-image: none;
  background-color: rgb(130, 157, 184);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color:rgb(130, 157, 184);
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: rgb(130, 157, 184);
  background-color: #e5e5e5;
}

.well {
  background-color: rgb(130, 157, 184);
  font-size: larger;
}

.bs-sidebar .nav > li > a, ul.nav .main {
  color: white;
}

ul.nav .main:hover, .active:hover {
  background-color: white
}
.bs-sidebar .nav > li > a:hover {
  color: rgb(130, 157, 184);
}